/* Esconde as barras de rolagem no navegador */
.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* Para o Internet Explorer */
    scrollbar-width: none; /* Para o Firefox */
  }
  
  .project-container {
    height: 24rem;
    overflow-y: auto;
    padding-bottom: 1.5rem;
  }
  