/* Esconde as barras de rolagem no navegador */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

  
  .project-container {
    height: 24rem;
    overflow-y: auto;
    padding-bottom: 1.5rem;
  }
  